<div data-role="header">
    <%= link_to "log out", log_out_path %>
  <h1>Select Subsection to Copy</h1>
<%= link_to 'Cancel', {:controller => 'clauses', :action => 'show', :id => @current_subsection_id, :project_id => @current_project_id}, {"data-theme"=>"b"} %>

</div>
<div data-role="content">


  <ul data-role="listview" data-inset="true">
    <% @clone_subsections.each do |subsection| %>    			
    		<li data-icon="arrow-r">   			    	    		
				<%= link_to(:controller => 'clauses', :action => 'clone_clause', :clone_subsection => subsection.id, :clause_id => @current_clause_id, :subsection_id => @current_subsection_id, :project_id => @current_project_id) do %>
				<%= subsection.subsection_full_code_and_title%>
				<%end%>          		
			</li>
    <% end %>
  </ul>

</div>