<div data-role="header">
    <%= link_to "log out", log_out_path %>
  <h1>Add Guidance Note</h1>
<%= link_to 'Cancel', {:controller => 'clauses', :action => 'show', :id => @current_subsection_id, :project_id => @current_project_id}, {"data-theme"=>"b"} %>
</div>
<div data-role="content">
<%= render 'form' %>

</div>